{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Message list</h1>

    <div class="row">
      <div class="message-sidebar">
        <div class="sidebar col-md-12">
          <ul class="nav nav-sidebar" style="padding-left: 15px;" >
              {% for conversation in conversations %}
                  <li><a class="conversation-list" data-value="{{ conversation.id }}" href="{{ path('conversation_index') }}">{{ conversation.title | capitalize}}</a></li>
                  <div class="devider"></div>
              {% endfor %}

              <li><br /></li>
              <li><br /></li>
              <li><br /></li>
          </ul>
        </div>
      </div>

      <div class="message-content">
      </div>

    </div>

    <!-- IF IS DEFINED POST PARAMETER, SHOW "NEGOCIATE HERE WITH USER BLA" -->

</div>
{% endblock %}
