{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="header-page col-md-12">
                <h1 class="pull-left">Products list</h1>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('product_new') }}" class="btn btn-primary pull-right" role="button">Register a new Product</a>
                {% else %}
                    <a href="{{ path('user_new') }}" class="btn btn-primary pull-right" role="button">Register now so you can get products</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% include 'product/content.html.twig' %}            
        </div>
    </div>
{% endblock %}