body{
}

#content-wraper {
    min-height: 580px;
    height: auto !important;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}


/*HOMEPAGE*/ 

.homepage-sidebar-content {
    width: 25%; 
    float: left;
}

.homepage-products-content {
    width: 75%; 
    float: right;
}

/*END HOMEPAGE*/

.form-user {
    margin-left: -8%;
}

.form-group {
    margin-bottom: 26px;
}

.categories-product label {
    font-weight: normal;
}

.categories-product input[type="checkbox"]{
    margin: 10px;
    margin-left: 0;
}

.inputfile + label {
    cursor: pointer; 
}

.product-category {
    font-size: 12px;
    color: #FFF;
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    margin-right: 2px;
    padding: 5px 4px;
    border-radius: 6px;
}

.panel-body-products {
    min-height: 274px;
}

.header-page {
    margin-top: 24px;
    margin-bottom: 36px;
}

.header-page a, .header-page form {
    margin-top: 20px;
    margin-left: 3px;
}

.form-group {
    margin-bottom: 23px;
}

.product {
    margin-top: 60px;
}

.product-description {
    text-align: justify;
}

.panel-heading a h4 {
    color:black;
}

.panel-heading a:hover, .panel-heading a:focus {
    text-decoration: none;
}

.product-image-button {
    margin-top: 11px;
    margin-bottom: 54px;
}

.product-images-wraper {
    margin-bottom: 50px;
    min-height: 10px;
}

.product-images-wraper img {
    padding-bottom: 8px;
}

.carousel-control .icon-prev {
    margin-left: -50px;
    color: black;
}

.carousel-control .icon-next {
    margin-right: -8px;
    color: black;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}


/*SIDEBAR*/


.sidebar {
}

.sidebar ul {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    border: 1px solid #eee;
    border-radius: 3px;
}

.nav-sidebar, .nav-sidebar li a {
    color: #777;
}

.nav-sidebar li a:hover {
    background-color: #dedede;
}

/*END SIDEBAR*/


/*FOOTER*/

.footer {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


.text-muted {
    color: #777;
    padding: 20px 0;
    font-weight: bold;
}

/*END FOOTER*/